$PrimaryColor: #212c1b;
$SecondaryColor: #9eab57;
$FontColor: #d57640; 
$TertiaryColor: #fce0c0;

$defaultFont: 'Josefin Sans', serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;


